# BR2_PACKAGE_BLUEZ_ALSA is not set
# BR2_PACKAGE_BLUEZ_ALSA_HCITOP is not set
# BR2_PACKAGE_BLUEZ5_UTILS is not set
# BR2_PACKAGE_BLUEZ5_UTILS_OBEX is not set
# BR2_PACKAGE_BLUEZ5_UTILS_CLIENT is not set
# BR2_PACKAGE_BLUEZ5_UTILS_GATTTOOL is not set
# BR2_PACKAGE_BLUEZ5_UTILS_EXPERIMENTAL is not set
# BR2_PACKAGE_BLUEZ5_PLUGINS_SIXAXIS is not set
# BR2_PACKAGE_RKWIFIBT is not set
