// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2020 Rockchip Electronics Co., Ltd.
 */

#include "rv1126-evb-v10.dtsi"
/ {
	
	/delete-node/ vdd-npu;
	/delete-node/ vdd-vepu;

aliases {
    mmc1 = &sdmmc;
    mmc0 = &emmc;
};


	vdd_logic: vdd-logic {
		compatible = "regulator-fixed";
		regulator-name = "vdd_logic";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <810000>;
		regulator-max-microvolt = <810000>;
	};
};


&rk809 {
	regulators {
		/delete-node/ DCDC_REG1;
		vdd_npu_vepu: DCDC_REG1 {
			regulator-always-on;
			regulator-boot-on;
			regulator-min-microvolt = <650000>;
			regulator-max-microvolt = <950000>;
			regulator-ramp-delay = <6001>;
			regulator-initial-mode = <0x2>;
			regulator-name = "vdd_npu_vepu";
			regulator-state-mem {
				regulator-off-in-suspend;
			};
		};
	};
};

&sdmmc0_bus4 {
	rockchip,pins =
		/* sdmmc0_d0 */
		<1 RK_PA4 1 &pcfg_pull_up_drv_level_0>,
		/* sdmmc0_d1 */
		<1 RK_PA5 1 &pcfg_pull_up_drv_level_0>,
		/* sdmmc0_d2 */
		<1 RK_PA6 1 &pcfg_pull_up_drv_level_0>,
		/* sdmmc0_d3 */
		<1 RK_PA7 1 &pcfg_pull_up_drv_level_0>;
};

&sdmmc0_clk {
	rockchip,pins =
		/* sdmmc0_clk */
		<1 RK_PB0 1 &pcfg_pull_up_drv_level_3>;
};

&sdmmc0_cmd {
	rockchip,pins =
		/* sdmmc0_cmd */
		<1 RK_PB1 1 &pcfg_pull_up_drv_level_0>;
};


&sdmmc {
    broken-cd;
    bus-width = <4>;
    cap-mmc-highspeed;
    cap-sd-highspeed;
    card-detect-delay = <200>;
    rockchip,default-sample-phase = <90>;
    supports-sd;
    sd-uhs-sdr12;
    sd-uhs-sdr25;
    sd-uhs-sdr104;
    status = "okay";
};

&emmc {
	status = "okay";
};

&npu {
	npu-supply = <&vdd_npu_vepu>;
};

&pwm0 {
	status = "disabled";
};

&pwm1 {
	status = "disabled";
};

&rkvenc {
	venc-supply = <&vdd_npu_vepu>;
};

&rkvenc_opp_table {
	/*
	 * max IR-drop values on different freq condition for this board!
	 */
	rockchip,board-irdrop = <
	     /* MHz	MHz	uV */
		500	594	50000
	>;
};
